<div class="container-fluid form">
  <div class="row" *ngIf="currentState=='Wait'">
    <div class="col-md-12  close-form">
      <h2>Loading...</h2>
    </div>
  </div>
  <div class="row"
       *ngIf="currentState=='NotVerified'">
    <div class="col-md-12">
      <h2>Token has expired</h2>
    </div>
  </div>
  <div class="row" *ngIf="currentState=='Verified'">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h5 class="card-title text-center">Set Your New Password</h5>
          <div>
            <div id="errorMsg" *ngIf="errorMessage">
              <span>{{errorMessage}}</span>
            </div>
            <div id="successMsg" *ngIf="successMessage">
              <span>{{successMessage}}</span>
            </div>
            <form action="" [formGroup]="formGroup" (ngSubmit)="resetPassword(formGroup)">
              <div class="form-group">
                <input class="form-control form-control-lg" placeholder="Password"
                       type="password" id="password" formControlName="newPassword" />
                <span *ngIf="!formGroup.get('newPassword').valid && !validForm"
                      class="help-block">Password is required with atleast 6 characters.</span>
              </div>
              <div class="form-group">
                <input class="form-control form-control-lg"
                       placeholder="Confirm Password" type="password" id="cpassword"
                       formControlName="confirmPassword" />
                <span *ngIf="!formGroup.get('confirmPassword').valid && !validForm"
                      class="help-block">. </span>
                <span
                  *ngIf="formGroup.get('confirmPassword').valid
                  && (formGroup.get('confirmPassword').value != formGroup.get('newPassword').value)
                  && !validForm"
                  class="help-block">Repeated Password does not match with password.</span>
              </div>
              <div class="form-group">
                <div>

                  <button type="submit" class="btn btn-primary">
                    Set New Password
                  </button>

                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
